<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
</div>
<article class="about">
  <h2>Sobre Mi</h2>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum tortor vitae semper congue.
      Cras mattis nec ligula a suscipit. Phasellus ornare vitae elit ac accumsan. Donec vulputate convallis augue,
      vel rutrum est vehicula quis. Donec a ultricies mi. Mauris in nibh justo. Sed neque augue,
      tristique eu faucibus vitae, dapibus ut eros. Maecenas ultricies scelerisque elit,
      sed gravida elit dictum in. Quisque pellentesque ac erat quis vehicula. Fusce mollis semper volutpat.
  </p>
</article>
